/* Ajoutez ces styles pour le tableau */
.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
  }
  
  /* Ajoutez une bordure légère au tableau */
  .table-bordered {
    border: 1px solid #000000;
  }
  
  /* Ajoutez une couleur de fond différente pour les en-têtes de tableau */
  .table thead th {
    background-color: #007bff;
    color: #fff;
  }
  
  /* Ajoutez un peu de marge aux boutons d'action */
  .btn {
    margin: 0.1rem;
  }
  
  /* Ajoutez une ombre légère aux boutons d'action au survol */
  .btn:hover {
    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.1);
  }
  
  /* Ajoutez des styles pour la pagination */
  .pagination {
    justify-content: center;
    margin-top: 1rem;
  }
  
